html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.cdx-block{
  width: 100%;
  max-width: 100% !important;
}

.ce-block__content, .ce-toolbar__content { 
  max-width:calc(100% - 80px) !important; 
} 

.box-border{
  border-color: black;
  border: 1px solid black;
  box-shadow: 10px 10px;
  margin: 16px;
}

#editor-div{
  overflow: auto;
  flex-grow: 1;
}

.block-div{
  padding: 10px;
  /* flex: 1 1 0px; */
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(170, 170, 170, 0.4) white;
}

.block-div::-webkit-scrollbar-thumb{
  background: rgba(228, 228, 228, 0.6);
  border-radius: 10px;
}

.block-div::-webkit-scrollbar{
  width:8px;
  height:8px;
}

.block-div::-webkit-scrollbar-track{
  border-radius: 10px;
  visibility: hidden;
}


.flex-row{
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 100vh;
}

.flex-col{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#toolbar{
  flex-basis: 40px;
  margin: 16px;
  margin-bottom: 0;
  padding: 10px;
}

#toolbarButtons{
  float: right;
  align-self:center;
  justify-content: center;
}

.left-col{
  width: 25%;
}

.right-col{
  width: 75%;
}

@keyframes recordButtonOn {
  0% {background-color: rgb(180, 37, 37)}
  50% {background-color: red}
  100% {background-color: rgb(180, 37, 37)}
}



#recordingIcon{
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 50%;
  margin: 5px;
  animation-name: none;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loadingBackground{
  background-color: rgba(59, 59, 59, 0.8);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}

@keyframes loadingRotation {
  from {transform: translate(-50%, -50%) rotate(0deg);}
  to {transform: translate(-50%, -50%) rotate(360deg);}
}

.loadingIcon{
  height: 25px;
  width: 25px;
  border: 5px dashed orange;
  border-radius: 50%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: loadingRotation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#notebookTitle{
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 16px;
  width: max-content;
}