html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: rgb(37, 37, 37);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


 
.cdx-block{
  width: 100%;
  max-width: 100% !important;
}

.ce-block__content, .ce-toolbar__content { 
  max-width:calc(100% - 80px) !important; 
} 

.box-border{
  border: 3px solid rgb(209, 123, 11);
  box-shadow: 3px 3px rgb(209, 123, 11);
  margin: 8px;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
}

.box-border:hover{
  border: 5px solid rgb(245, 163, 57);
  box-shadow: 5px 5px rgb(245, 163, 57);
  
}

#editor-div{
  overflow: auto;
  flex-grow: 1;
}

.block-div{
  padding: 10px;
  /* flex: 1 1 0px; */
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(170, 170, 170, 0.4) white;
}


.block-div::-webkit-scrollbar-thumb{
  background: rgba(228, 228, 228, 0.6);
  border-radius: 10px;
}

.block-div::-webkit-scrollbar{
  width:8px;
  height:8px;
}

.block-div::-webkit-scrollbar-track{
  border-radius: 10px;
  visibility: hidden;
}


.flex-row{
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 100vh;
}

.flex-col{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#toolbar{
  flex-basis: 40px;
  margin: 8px;
  margin-bottom: 0;
  padding: 10px;
}

#toolbarButtons{
  float: right;
  align-self:center;
  justify-content: center;
}

#toolbarButtons button{
  margin: 3px;
}

.left-col{
  width: 25%;
}

.right-col{
  width: 75%;
}

@keyframes recordButtonOn {
  0% {background-color: rgb(180, 37, 37)}
  50% {background-color: rgb(250, 13, 13)}
  100% {background-color: rgb(180, 37, 37)}
}



#recordingIcon{
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 50%;
  margin: 5px;
  animation-name: none;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.loadingBackground{
  background-color: rgba(59, 59, 59, 0.8);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}

@keyframes loadingRotation {
  from {transform: translate(-50%, -50%) rotate(0deg);}
  to {transform: translate(-50%, -50%) rotate(360deg);}
}

.loadingIcon{
  height: 25px;
  width: 25px;
  border: 5px dashed orange;
  border-radius: 50%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: loadingRotation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#notebookTitle{
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 16px;
  width: max-content;
}

#loadNotebookDiv{
  position: absolute;
  max-height: 50vh;
  height:max-content;
  overflow: auto;
  padding: 16px;
  z-index: 3;
  background-color: rgba(121, 121, 121, 0.7);
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loadNotebookDivBackground{
  background-color: rgba(117, 117, 117, 0.7);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

#loadNotebookDiv button{
  padding: 5px;
  margin: 3px;
}

#editButton{
  background-color: unset;
  border: unset;
  font-size: 20px;
  transform: translateY(3px);
  color: rgba(255, 131, 15, 0.8);
  cursor: pointer;
}

#editButton:hover{
  color: rgba(255, 131, 15, 1);
}

#titleSaveButton{
  background-color: unset;
  border: unset;
  font-size: 20px;
  transform: translateY(3px);
  color: rgba(255, 131, 15, 0.8);
  cursor: pointer;
}

#titleSaveButton:hover{
  color: rgba(255, 158, 47, 1);
}

#toolbarButtons button{
  background-color: orange;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: unset;
  border-radius: 10px;
  font-size: 0.85rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}

#toolbarButtons button:hover{
  font-size: 0.8rem;
  margin: 4px;
}